body {background-color: rgb(66, 120, 77);
}
h1 {color:rgb(199, 168, 148);
text-align: center;
font-size: 50px;
}
p {font-size: 30px;
  text-align:justify
}
li{font-size: 25px;
margin-bottom: 25px;
}
img {border-radius: 30px;
}
table {background-color: rgb(64, 96, 91);
}
tr {font-size: 25px;
}
a:hover {color:rgb(0, 37, 55)
}